<div class="home">
  <%= render "layouts/header" %>
  <div class="container text-center">

    <div class="row pt-5">
      <div class="col-sm-12">
        <%= image_tag "home_zaat.svg", class: "img-fluid" %>
      </div>
    </div>

    <div class="row text-light pt-5">
      <div class="col-sm-6 p-2 nav navbar">
        <div class="mx-auto text-start">
          <div class="h2 pb-2">Building multimodal AI to expand </div>
          <div class="h2 pb-2">imagination and capabilities</div>
          <div class="h2 pb-2">integrated with Web3</div>
          <div class="nav-navbar py-4">
            <a href="#"><%= image_tag "twitter.svg" %></a>
            <a class="ps-3" href="#"><%= image_tag "discord.svg" %></a>
            <a class="ps-3" href="#"><%= image_tag "github.svg" %></a>
            <a class="ps-3" href="#"><%= image_tag "m.svg" %></a>
            <a class="ps-3" href="#"><%= image_tag "telegram.svg" %></a>
          </div>
        </div>
      </div>

      <div class="col-sm-6 row row-cols-2 nav">

        <div class="position-relative">
          <a href="">
            <%= image_tag "home_btn_creat.png", class: "" %>
            <div class="text-white position-absolute top-50 start-50 translate-middle d-flex flex-column  align-content-center">
              <div class="m-0 h3 fw-bold mb-5 text_shadow_create">Create</div>
              <div class="border-3 border-light"><hr class="my-2 border-3 border-light" /></div>
              <div class="fw-bold mt-5"><hr></div>
            </div>
          </a>
        </div>
        
        <div class="position-relative">
          <a href="">
            <%= image_tag "home_btn_earn.png", class: "" %>
            <div class="text-white position-absolute top-50 start-50 translate-middle d-flex flex-column  align-content-center">
              <div class="h3 fw-bold mb-5 text_shadow_earn">Earn</div>
              <div class="border-3 border-light"><hr class="my-2 border-3 border-light" /></div>
              <div class="fw-bold mt-5"><hr></div>
            </div>
          </a>
        </div>
      </div>

      
      
    </div>
    
  </div>

    
</div>