<div id="<%= dom_id draft %>">
  <p>
    <strong>Prompt:</strong>
    <%= draft.prompt %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= draft.image %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= draft.model %>
  </p>

  <p>
    <strong>User:</strong>
    <%= draft.user_id %>
  </p>

</div>
